<div class="container row justify-content-center">
  <div style="background-size: cover; background-position: center; background-image: url('<%= image_path "moviepop.jpg" %>');">
    <h1 class="m-5">My Lists </h1>
  </div>
    <div class="card d-flex justify-content-center">
      <div class="card-body">
        <% @lists.each do |list| %>
          <%= link_to list.name, list_path(list), class: "col-3 btn card-title" %>
            <% if list.photo.attached? %>
             <div style="background-image: url('<%= cl_image_path list.photo.key %>');">
             </div>
            <% else %>
            <div style="background-image: url('<%= image_path "cinema.jpg" %>');">
            </div>
            <% end %>
          <% end %>
        </div>
    </div>
</div>
